.restaurant {
  cursor: pointer;
  border: 1px solid var(--colorWhite);
  margin: 1px 5px 0;
  padding: 3px;
  background: var(--colorWhite);
  height: 68px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant:hover {
  background: var(--colorWhite70);
}

.restaurantImage {
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.restaurantName {
  font-size: 12px;
  font-weight: bold;
}

.restaurantDesc {
  font-size: 10px;
}

.restaurantStatus {
  color: var(--amber);
}

.restaurantStatus.open {
  color: var(--success);
}

.rating {
  color: var(--amber);
}

.ratingRemaining {
  color: var(--primaryTextColor);
}