html {
  --primaryTextColor : #696969;
  --amber: #FF9800;
  --loadingBg: #009688;
  --toggleSliderBg: #ccc;
  --toggleButton: #2196F3;
  --success: #009688;
  --colorWhite: #F4F5EF;
  --headerBg: #04A2FF;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  height: 100%;
  width: 100%;
  background: beige;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primaryTextColor);
  font-size: 12px;
  text-transform: capitalize;
}

.material-icons {
  font-size: 18px;
}